.custom-bg-color {
    background-color:  #F5F5DC; /* Your hexadecimal color code */
  }

  .custom-bg-color2 {
    background-color:    #17a2b8; /* Your hexadecimal color code */
  }
  
  .custom-bg-color3 {
    background-color:    #faf0e6; /* Your hexadecimal color code */
  }  




